</head>
<body>
  <div class="reservation-wrapper">
    <div class="reservation-details">
      <div class="room-section">
        <%= render "user/requests/room_details" %>
      </div>
      <div class="payment-section">
        <%= render "user/requests/payment_section" %>
      </div>
    </div>
  </div>
